<div class="pt-lg">
    <nz-card [nzTitle]="'<%=classify(name)%>'" [nzExtra]="extraTpl">
        <ng-template #extraTpl>
            <button nz-button nzType="primary" (click)="add()">新增<%=classify(name)%></button>
            <button nz-button nzShape="circle" [nzLoading]="loading" (click)="refresh()">
                <i nz-icon nzType="reload" nzTheme="outline"></i>
            </button>
        </ng-template>

        <nz-table #basicTable [nzData]="dataSet" nzBordered="true" nzShowPagination="true" nzShowSizeChanger
            [nzFrontPagination]="false" [nzTotal]="pageCount" [(nzPageIndex)]="pageNum" [(nzPageSize)]="pageSize"
            (nzPageIndexChange)="pageNumChange($event)" (nzPageSizeChange)="pageSizeChange($event)"
            [nzLoading]="loading">
            <thead>
                <tr>

                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of basicTable.data">

                    <td>
                        <a (click)="edit(item)">编辑</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm [nzTitle]="'您确定删除吗？'" (nzOnConfirm)="del(item)">删除</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>

    </nz-card>
</div>